{
  "extends": "airbnb-base",
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "globals": {
    "describe": true,
    "it": true,
    "expect": true,
    "__dirname": true
  },
  "rules": {
    "arrow-body-style": "off",
    "import/extensions": "off",
    "no-unused-vars": [
      "error",
      {
        "varsIgnorePattern": "IConfig|ITransaction"
      }
    ],
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  }
}