{
  "extends": "airbnb-base",
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "globals": {
    "describe": true,
    "it": true,
    "expect": true,
    "__dirname": true
  },
  "rules": {
    "arrow-body-style": "off"
  }
}